:root {
  --bg_h: #f5f1e8;
  --bg:   #faf6ee;
  --bg_s: #eeebe3;
  --bg1:  #e5e1d8;
  --bg2:  #d1cdc4;
  --bg3:  #b5b1a8;
  --bg4:  #98948b;

  --fg:   #2d2a26;
  --fg1:  #3d3a35;
  --fg2:  #524e48;
  --fg3:  #6a665f;
  --fg4:  #837f77;

  --red: #9d0006;
  --green: #79740e;
  --yellow: #a6700a;
  --blue: #076678;
  --purple: #8f3f71;
  --aqua: #427b58;
  --orange: #af3a03;
  --gray: #928374;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #8a5c06;
  --blue-dim: #458598;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --orange-dim: #d65d0e;
  --gray-dim: #7c6f64;
}

.darkmode {
  --bg_h: #151516;
  --bg:   #1b1b1d;
  --bg_s: #242426;
  --bg1:  #2e2e30;
  --bg2:  #414143;
  --bg3:  #5a5a5c;
  --bg4:  #737375;

  --fg:   #e4e0da;
  --fg1:  #d0ccc6;
  --fg2:  #b9b5af;
  --fg3:  #9f9b95;
  --fg4:  #86827c;

  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #f0b630;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #928374;
  --orange: #fe8019;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d49a18;
  --blue-dim: #458588;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --gray-dim: #a89984;
  --orange-dim: #d65d0e;
}
